/* vars */
:root {
    --main-bg-color: #eee;
    --main-text-color: #222;
    --high-attention-bg-color: #dd0011;
    --high-attention-text-color: #eee;
    --small-space: 8px;
    --medium-space: 16px;
    --large-space: 24px;
    --extra-large-space: 32px;
}

/* normalizers */
body {
    margin: 0;
    width: 100%;
}

/* components */
div.ribbon {
    background-color: var(--high-attention-bg-color);
    color: var(--high-attention-text-color);
    padding: var(--medium-space);
    width: 100%;
}

/* utils */
div.fixed-to-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
}